body {
    background-image: url(../imgs/145426048-retro-game-glitch-win-score-background-video-game-you-win-glitch-effect-text.jpg);
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    width: 55vh;
    height: 25vh;
    font-size: 6vh;
    background-color: yellow;
}
@media (max-width: 480px){
    html {
     height: 100vh;
     width: 100vh;
    }
  
 }
 @media (max-width: 768px) {
     html {
         height: 100vh;
         width: 100vh;
        }
 }